<div class="bar bar-header bar-positive">
  <h1 class="title">Selecionar Área de Ensino</h1>
</div>

<!--<div class="list list-inset" ng-repeat="area in areas">-->
    <ion-list ng-repeat="area in areas">
    <ion-radio ng-model="user.id_area" value="{{area.id_area}}"><strong>{{area.descricao}}</strong></ion-radio>
    
    </ion-list>

 <!--</div>-->

<!--<ion-list>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'1'">
  Option1
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'2'">
  Option2 
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'1'">
  Option1
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'2'">
  Option2 
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'1'">
  Option1
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'2'">
  Option2 
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'1'">
  Option1
</ion-radio>
<ion-radio class="wrapping-list" ng-model="choice.value" ng-value="'2'">
  Option2 
</ion-radio>
</ion-list>-->