<!--<ion-view view-title="Login de Acesso">-->
<div class="bar bar-header bar-positive">
  <h1 class="title"><strong> <i class="icon ion-person-add"></i> Novo Cadastro</strong></h1>
</div>
  
  <ion-pane class="login-custom">

   
   <!--<ion-header-bar class="bar-positive">
	

	<h1 class="title">Mural Virtual</h1>
	
	
   </ion-header-bar>-->


  
    
	
	<ion-content class="list-login padding">

	<h1 class="titulo-login">Mural<span class="sub-titulo-login">Virtual</span></h1>
        <br />
		<!--<h3>Acessar Mural</h3>-->

		
		<div class="camada-login">
		<ion-list class="list-inset">
		
		
		<label class="item item-input item-login">
		 <i class="icon ion-ios-email-outline placeholder-icon"></i>
			<input type="text" class="placeLogin" name="login" placeholder="Email" id="login" ng-model="user.login">
		 </label>
		 
		  <label class="item item-input item-login">
			<!--<span class="input-label">Senha  </span>-->
			  <i class="icon ion-ios-locked-outline placeholder-icon"></i>

			<input type="password" class="placeLogin" name="senha_entrada" placeholder="Senha" id="senha" ng-model="user.senha">
		 </label>


		 
		</ion-list>

		<ion-item class="item item-input item-select padding">
		 <div class="input-label">
			Área de Ensino
		 </div>
		
		  <select ng-model="user.id_area" ng-options="obj.id_area as obj.descricao for obj in areas"></select>
           <!--<input type="text" name="id_area" value="{{user.id_area}}" />-->

			
		

		</ion-item>


		</div>
		
		<div>
			<button class="button button-block button-positive ion-android-done" ng-click="add_new(user)">
				<strong>Entrar</strong>
			</button>
		</div>
	
	</ion-content>
	
	<ion-footer-bar class="bar-positive">
		<div class="button-bar">
		<a class="button button-icon ion-person" href="#/login"> <span><strong>Já sou cadastrado!</strong></span></a>
		</div>

	<!--<div class="button-bar">
	 <button class="button button-positive">Botão 1</button>
	  <button class="button button-positive">Botão 2</button>
	   <button class="button button-positive">Botão 3</button>
	</div>-->
	</ion-footer-bar>

	</ion-pane>
<!--</ion-view>-->

<style type="text/css">

.bar-header{
	background-color: #4682B4 !important;
	opacity: .9; 
	font-weight:800;

}

.item-select {
    height: 40px;
}

.item-select select {
    max-width: 90%;
   
}



.bar-header .title {
   line-height: 70px;
   font-family: sans-serif !important;
}
.texto-topo{
	color:red;
	font-size:20px; 
}

.camada-login{
	
	margin-top:40px; 
}

.login-custom {
	 background-color: #000;
	 background-image: url(img/fundo2.jpg);
	 opacity: 1;
	/*background-color:#368bd1;*/
	background-size: cover;
	background-position: center;
}

.list-login {
	width: 90%;
	margin: auto;
	margin-top: 40px;
}

/*.list {
	width: 75%;
	margin: auto;
	margin-top: 60px;
}*/

/* criado para tela de login */
.item-login {
	background: none;
	border:none;

}

.item-input {
	border-bottom: 1px solid #fff;

	
}
.item-input i {
	color: #fff;
	font-size: 25px;
}
.item-input input {
	font-size: 16px;
	margin-left: 10px;
	color: #fff;
	font-weight:700; 
}
.item-button {
	padding: 0;
}

.titulo-login {
	font-family: sans-serif;
	color: #fff;
	text-align: center;
	font-size: 50px;
	padding-top: 60px;

}
.sub-titulo-login {
	font-family: sans-serif;
	font-size: 18px;
	position: absolute;
	margin-top: 55px;
	margin-left: -35px;
}

.button-first {
	padding-top: 20px;
}
.button.button-positive {
	background-color: #3B5998;
}
.button-clear.button-clear {
	padding: 0;
	margin: 0;
	font-size: 12px;
	text-decoration: underline;
}

.placeLogin::-webkit-input-placeholder {
   color:#fff;
   font-weight:800; 
}
</style>


