<ion-view view-title="Meus Avisos">

   <ion-pane class="tela-custom">

   		<ion-content>

	   		<ion-list>
			 
				 <a href="#/visualizarAviso/{{informe.id_informe}}" class="item item-icon-left" ng-repeat="informe in informes track by informe.id_informe">
				    <i class="icon ion-ios-arrow-right"></i>
				    <h2>{{informe.titulo}}</h2>
					<p>{{informe.data_publicacao}}</p>
					<span class="item-note">{{informe.descricao}}</span>
				</a>
			 
			</ion-list>

		</ion-content>

		
		<ion-footer-bar class="bar-positive">
			<div class="button-bar">
		          <a class="button button-icon ion-search" href="#/pesquisarAviso">Filtro</a>
			</div>
		</ion-footer-bar>

   </ion-pane>

</ion-view>