 <ion-view>
  
  <ion-pane>
   
   <ion-header-bar class="bar-positive">
	<button class="button button-icon icon ion-navicon"></button>
	<h1 class="title">Mural Virtual</h1>
	<!--<button class="button button-clear"id="cadastrar" ng-click="cadastrar">Cadastrar</button>-->
	<!--<button class="button button-icon ion-compose" ng-click="cadastrar">Cadastrar</button>-->
	
	
   </ion-header-bar>
   
  
    
	
	<ion-content class="padding">
		<h2>Acesso</h2>
		
		<ion-list>
		
		<label class="item item-input item-floating-label">
			<span class="input-label">Login</span>
			<input type="text" name="login" placeholder="Login" id="login">
		 </label>
		 
		  <label class="item item-input item-floating-label">
			<span class="input-label">Senha </span>
			<input type="password" name="senha" placeholder="Senha" id="senha">
		 </label>
		
		 
		</ion-list>
		
		<div>
			<button class="button button-block button-positive">
				Entrar
			</button>
		</div>
	
	</ion-content>
	
	<ion-footer-bar class="bar-positive">
		<div class="title"><a class="button button-icon ion-compose" ui-sref="cadastro">Novo Cadastro</a></div>
	<!--<div class="button-bar">
	 <button class="button button-positive">Botão 1</button>
	  <button class="button button-positive">Botão 2</button>
	   <button class="button button-positive">Botão 3</button>
	</div>-->
	</ion-footer-bar>

	</ion-pane>
</ion-view>