 <ion-view view-title="Login">
   <ion-pane class="login-custom">
   <ion-content class="list-login padding">

   <h1 class="titulo-login">Mural<span class="sub-titulo-login">Virtual</span></h1>
  
		<ion-list>
			
			
		<div class="camada_login">
			<label class="item item-input item-login">
			 <i class="icon ion-ios-email-outline placeholder-icon"></i>
				<input type="text" class="placeLogin" name="login_entrada" placeholder="Email" id="login" ng-model="user.login_entrada">
			 </label>
			 
			  <label class="item item-input item-login">
				
				  <i class="icon ion-ios-locked-outline placeholder-icon"></i>

				<input type="password" class="placeLogin" name="senha_entrada" placeholder="Senha" id="senha" ng-model="user.senha_entrada">
			 </label>
		</div>
			
			 
		</ion-list>

		<div>
			<button class="button button-block button-positive ion-checkmark-circled" ng-click="btLogar(user)">
				<strong>Entrar</strong>
			</button>
		</div>
    
   </ion-content>

   <ion-footer-bar class="bar-positive">
		<div class="button-bar">
		<a class="button button-icon ion-person-add" href="#/addUser"> <span><strong>Novo Cadastro</strong></span></a>
		</div>

	</ion-footer-bar>
 </ion-pane>

</ion-view>