 <ion-view view-title="Filtrar Aviso">
  	<ion-pane class="login-custom">
    
     	<ion-content class="padding">
     			<ion-list>
    
				<form ng-submit="submit()">

				   <div class="list">
  <label class="item item-input">
    <span class="input-label">Data</span>
    <input type="date" name="data" placeholder="Data" id="data" ng-model="data.data">
			 	  
  </label>

  <ion-item class="item-input item-select padding">
						<div class="input-label">
							Área de Ensino
						</div>
						<select ng-model="data.id_area" ng-options="obj.id_area as obj.descricao for obj in areas"></select>
					</ion-item>
  


</div>
			     

					

		 		 
				</ion-list>

				<div>
					<button class="button button-block button-balanced ion-search">
						<strong>Buscar</strong>  <!--{{PreferredLanguage}}-->
					</button>
				</div>
     	
     		</form>


     		<div class="item item-divider">
				 Resultado da Busca
			</div>

			<ion-list>
			    <a href="#/visualizarAviso/{{informe.id_informe}}" class="item item-icon-left" ng-repeat="informe in informes track by informe.id_informe">
			    <i class="icon ion-ios-arrow-right"></i>
			    <h2>{{informe.titulo}}</h2>
				<p>{{informe.data_publicacao}}</p>
				<span class="item-note">{{informe.descricao}}</span>
				</a> 
			</ion-list>
     	
    
     	</ion-content>

		     <ion-footer-bar class="bar-positive">
			 	<div class="button-bar">
				 
				 	<a class="button button-icon ion-ios-list-outline" href="#/listarAviso"> <strong>Meus Avisos</strong></a>
			 	</div>
			</ion-footer-bar>

  	</ion-pane>

</ion-view>