 <ion-view>
  <ion-pane class="login-custom">
      <ion-content class="list-login">
        <h1>Mural<span>Virtual</span></h1>
        <br /><br />

        <ion-list class="list-inset">
          <ion-item class="item-input item-login">
            <i class="icon ion-ios-email-outline placeholder-icon"></i>
            <input type="text" placeholder="E-mail" class="placeLogin">
          </ion-item>
          <ion-item class="item-input item-login">
            <i class="icon ion-ios-locked-outline placeholder-icon"></i>
            <input type="text" placeholder="Senha" class="placeLogin">
          </ion-item>
          <ion-item class="item-button button-first item-login">
            <button class="button button-block button-positive ion-android-done"> <strong>Entrar</strong></button>
          </ion-item>
          <!--<ion-item class="item-button">
            <button class="button button-block icon-left ion-social-facebook button-positive">Logar com Facebook</button>
          </ion-item>-->
          <ion-item class="item-button item-login">
            <button class="button button-block button-positive ion-person-add"> <strong>Novo Cadastro!</strong></button>
          </ion-item>
        <!--</div>-->
        </ion-list>

      </ion-content>
    </ion-pane>

   <!--<ion-pane>
<ion-content class="padding">
 		
		<div class="rows">
		
		 <ion-item class="item-icon-left" ng-repeat="informe in informes track by informe.id_informe">
		   <i class="icon ion-ios-arrow-right"></i>
		    <h2>{{informe.titulo}}</h2>
			<p>{{informe.data_publicacao}}</p>
		  </ion-item>
		  
		  
		 

</div>

		
		
 </ion-content>
   </ion-pane>-->
   
 </ion-view>


<style type="text/css">
	
.login-custom {
	 background-color: #000;
	 background-image: url(img/fundo2.jpg);
	 opacity: 1;
	/*background-color:#368bd1;*/
	background-size: cover;
	background-position: center;
}

.list-login {
	width: 75%;
	margin: auto;
	margin-top: 60px;
}

/*.list {
	width: 75%;
	margin: auto;
	margin-top: 60px;
}*/

/* criado para tela de login */
.item-login {
	background: none;
	border:none;
}

.item-input {
	border-bottom: 1px solid #fff;
	color:red;
}
.item-input i {
	color: #fff;
	font-size: 25px;
}
.item-input input {
	font-size: 16px;
	margin-left: 10px;
	color: #fff;
	font-weight:700; 
}
.item-button {
	padding: 0;
}

h1 {
	font-family: sans-serif;
	color: #fff;
	text-align: center;
	font-size: 50px;
	padding-top: 60px;

}
h1 span {
	font-family: sans-serif;
	font-size: 18px;
	position: absolute;
	margin-top: 55px;
	margin-left: -35px;
}

.button-first {
	padding-top: 20px;
}
.button.button-positive {
	background-color: #3B5998;
}
.button-clear.button-clear {
	padding: 0;
	margin: 0;
	font-size: 12px;
	text-decoration: underline;
}

.placeLogin::-webkit-input-placeholder {
   color:#fff;
   font-weight:800; 
}
</style>