 <ion-view view-title="Exibir Aviso">
   <ion-pane>
<ion-content class="padding">
 		
				
		<div class="list card" ng-repeat="informe in informes track by informe.id_informe">

  <div class="item item-body">
   
    <h2>{{informe.titulo}}</h2>
    <h6>{{informe.data_publicacao}}</h6>

     <p>{{informe.texto}}</p>
	
	
  </div>

  <!--<div class="item item-body">
    
   
    <!--<p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>-
  </div>-->

</div>
		
		
 </ion-content>
 
 <ion-footer-bar class="bar-positive">
 	<div class="button-bar">
 	<a class="button button-icon ion-search" href="#/app/pesquisarAviso"><strong>Pesquisar</strong></a>
 	<a class="button button-icon ion-ios-list-outline" href="#/app/listarAviso"> <strong>Meus Avisos</strong></a>
 	</div>
		
		<!--<div class="title"><a class="button button-icon ion-search" href="#/app/pesquisarAviso"> Pesquisar</a><a class="button button-icon ion-ios-list-outline" href="#/app/listarAviso"> Meus Avisos</a></div>
		
		<div class="button-bar">
	 <button class="button button-positive">Botão 1</button>
	  <button class="button button-positive">Botão 2</button>
	   <button class="button button-positive">Botão 3</button>
	</div>-->
	</ion-footer-bar>
 
 
   </ion-pane>
   
 </ion-view>

